@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300;400;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  font-size: 62.5%;
}
:root {
  --heading-dark: rgb(7, 34, 59);
  --heading-light: rgb(217, 227, 235);
  --txt-light: rgb(240, 245, 245);
  --txt-dark: rgb(5, 22, 38);
  --txt-grey: rgb(149, 180, 183);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.foot {
  background-color: rgb(255, 255, 255);
}
.footer-links > a {
  color: var(--color-light);
}
.footer-links > a:hover {
  color: rgb(0, 0, 0);
}
.footer-links > a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.footer-links > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #000000;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.footer-links > a {
  position: relative;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}
.footer-links {
  padding: 2rem 0;
}
.about-us > p {
  font-size: 1.3rem;
  margin-left: 1.5rem;
}
.about-us {
  margin-top: 2.5rem;
  padding: 1rem;
}
.ms-one {
  position: relative;
  right: 20px;
}
footer > p {
  margin-left: 1.5rem;
  font-size: 1.3rem;
  padding: 2rem;
}
.econ {
  margin-left: 1.3rem;
  font-size: 1.5rem;
}
.tele {
  color: black;
}
.grid-1x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  /* background-color: rgb(157, 157, 157); */
}

h1 {
  font-size: 5rem;
}
h2,
h3,
h4,
h5 {
  font-size: 4rem;
  line-height: 1.2;
}

p,
li,
a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
/* containe widht */
.container-width {
  max-width: 1024px;
  margin: 0 auto;
}
.container-width-small {
  max-width: 900px;
  margin: 0 auto;
}

/* heading */
.heading-black {
  color: var(--heading-dark);
}
.heading-light {
  color: var(--heading-light);
}
.heading-small {
  font-size: 3rem;
}
/* text */

.txt-light {
  color: var(--txt-light);
}
.txt-dark {
  color: var(--txt-dark);
}
.txt-grey {
  color: var(--txt-grey);
}
.txt-small {
  font-size: 1.5rem;
}
.txt-color {
  color: blueviolet;
}
.mg-v-1 {
  margin: 2rem 0;
}
.txt-center {
  text-align: center;
}
/* buttons */

.btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.btn-square {
  border-radius: 10px;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid white;
}

.btn-primary {
  background: linear-gradient(
    90deg,
    rgba(0, 204, 255, 1) 0%,
    rgb(0, 145, 255) 100%
  );
}
.btn-secondary {
  background: linear-gradient(90deg, rgb(140, 0, 255) 0%, rgb(93, 0, 255) 100%);
}

/* counter */

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 2rem;
}
.counter-image {
  width: 50px;
}

.counter-image > img {
  width: 100%;
}
.counter-num {
  color: rgb(113, 36, 185);
  font-size: 4rem;
  font-weight: bold;
}

/* icon */

.icon-container {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
}
.icon-container > .icon {
  width: 100%;
}
.icon-container-primary {
  background: linear-gradient(
    90deg,
    rgba(0, 204, 255, 1) 0%,
    rgba(77, 234, 0, 1) 100%
  );
}
.icon-container-secondary {
  background: linear-gradient(
    90deg,
    rgb(230, 0, 255) 0%,
    rgb(125, 0, 234) 100%
  );
}
.icon-container-accent {
  background-color: rgba(234, 234, 234, 0.5);
}
.icon-container-ouline {
  border: 2px solid aliceblue;
}
.icon-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 2rem;
  border: 1px solid white;
  cursor: pointer;
}
.icon-small > .icon-white {
  color: white;
}

.icon-small-primary {
  border: none;
  background: linear-gradient(
    90deg,
    rgba(0, 204, 255, 1) 0%,
    rgb(0, 98, 234) 100%
  );
}
.icon-small-secondary {
  background-color: white;
}
/* more info */
.more-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: dodgerblue;
}
.more-info > i {
  transition: all 0.2s;
}
.more-info:hover {
  color: rgb(90, 173, 255);
}
.more-info:hover > i {
  margin-left: 1rem;
}
/* service cards */
.service-card {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  gap: 2rem;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 10px;
}
.service-card > h3 {
  font-size: 2.7rem;
}

/* showcase */

.showcase {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgb(249, 249, 249);
  padding: 2rem;
  border-radius: 15px;
}
.showcase > span {
  color: transparent;
  background: linear-gradient(
    90deg,
    rgb(230, 0, 255) 0%,
    rgb(125, 0, 234) 100%
  );
  -webkit-background-clip: text;
}
.showcase-image {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.showcase-image > img {
  width: 100%;
}

/* our team */

.team {
  display: flex;
  gap: 2rem;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 2rem;
}
.team-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid white;
}
.team-image > img {
  height: 100%;
}
.team-info {
}
.team-info > p {
  margin: 1rem 0;
}
.team-name {
  font-size: 3rem;
}
.position {
  color: rgb(255, 0, 72);
}
.social-media > i {
  margin: 0 0.7rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.social-media > i:hover {
  color: dodgerblue;
}

/* testinmonial-card */
.testinmonial-card {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5rem 3rem;
}
.tc-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.tc-image > img {
  width: 100%;
}
.star {
  display: inline-block;
  margin-top: 2rem;
  color: rgb(255, 136, 0);
}
.testinmonial-card > p {
  margin: 2rem 0;
}
/* FAQ */

.faq > li {
  background-color: white;
  box-shadow: 0 0 5px rgb(236, 236, 236);
  padding: 2rem 2rem 2rem 3rem;
  margin: 2rem 0;
  border-radius: 10px;
}
.faq .txt-small {
  margin-top: 2rem;
  display: none;
}
.faq .txt-small.active {
  display: block;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(7, 82, 107);
  color: white;
  padding: 20rem 0;
  gap: 7rem;
}
input:focus {
  outline: none;
}
.search-form {
  display: flex;
}
.search-form > input {
  border: none;
  padding: 2rem;
  background-color: rgba(41, 49, 57, 0.5);
  border-radius: 5px 0 0 5px;
  color: white;
}
.search-form > input::placeholder {
  color: white;
}

.search-form .btn-square {
  border-radius: 0 5px 5px 0;
}

.support-about > h3 {
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 50px 0px 50px 30px;
    gap: 3rem;
  }
}
.bg-black {
  background-color: rgb(0, 0, 0);
}
/* top page */
.header {
  padding: 3rem 1.5rem 7rem 1.5rem;
  background-image: linear-gradient(to left, rgb(128, 9, 128), rgb(0, 0, 0));
}
.hero-image {
  max-width: 1500px;
  margin: 7rem 0;
}
.hero-image > img {
  width: 100%;
}
.hero-detail > h1 {
  line-height: 1;
  position: relative;
  bottom: -50px;
  padding: 5rem;
}
.hero-detail > p {
  margin: 3rem 0;
}
.button-container .btn-outline {
  margin-left: 1rem;
}
.grid-1x2 {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  .grid-1x2 {
    grid-template-columns: 1fr;
  }
}

/* quality section */
.quality {
  margin-top: 10rem;
  padding: 5rem 2rem;
}
.quality-image {
  max-width: 400px;
}
.quality-image > img {
  width: 100%;
}
.container-counter {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .container-counter {
    /* justify-content: center; */
    margin-top: 7rem;
  }
}
/* what we do */
.we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.we-do .btn {
  margin-top: 5rem;
}
.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 10rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .service-container {
    flex-direction: column;
  }
}

/* contact section */

.contact {
  margin-top: 10rem;
  padding: 2rem 0;
  background-color: rgb(163, 95, 227);
}
.contact-image {
  max-width: 400px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  top: 100px;
}
.contact-image > img {
  width: 100%;
}
.contact-info > h2 {
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 10rem 2rem;
  }
  .contact-image {
    /* position: static; */
    top: 0;
  }
}

/* porfolio */

.porfolio {
  margin-top: 20rem;
}

.porfolio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pre-next {
  display: flex;
  gap: 1rem;
}
.showcase-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.showcase-container .showcase:nth-child(2) {
  background-color: rgb(201, 250, 255);
}

@media screen and (max-width: 1024px) {
  .showcase-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .porfolio-header {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 768px) {
  .showcase-container {
    padding: 0 3rem;
    grid-template-columns: 1fr;
  }
}

/* navigation bar */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.logo {
  width: 125px;
}
.logo > img {
  width: 100%;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.nav-links a {
  color: white;
}
.navigation .icon-small {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .navigation .icon-small {
    display: inherit;
  }
}

/* testinmonoal */
.testinmonial {
  margin: 10rem 0;
  background-color: rgb(0, 0, 0);
  padding: 10rem 0;
}

.testinmonial-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.testinmonial-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .testinmonial-container {
    grid-template-columns: 1fr;
    padding: 0 3rem;
  }
  .testinmonial-heading {
    gap: 5rem;
    align-items: flex-end;
    margin-bottom: 2rem;
  }
}

/* faq section */
.faq-section {
  padding: 5rem 0;
  margin: 10rem 0;
}
.faq-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.faq-image {
  width: 350px;
}
.faq-image > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .faq-container {
    grid-template-columns: 1fr;
    padding: 0 2rem;
    gap: 5rem;
  }
}

.gradient-text-one {
  color: transparent;
  background: linear-gradient(
    149deg,
    rgb(76, 16, 16) 0%,
    rgb(120, 255, 255) 100%
  );
  -webkit-background-clip: text;
}
.fnt-me {
  color: transparent;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;
  left: -60px;
}
.container > img {
  position: relative;
  left: -50px;
}
.gradient-text-two {
  color: transparent;
  background: linear-gradient(
    149deg,
    rgb(27, 152, 255) 0%,
    rgb(125, 41, 173) 100%
  );
  -webkit-background-clip: text;
}
.gradient-text-three {
  color: transparent;
  background: linear-gradient(
    149deg,
    rgb(255, 65, 27) 0%,
    rgb(219, 157, 255) 100%
  );
  -webkit-background-clip: text;
}
.gradient-text-four {
  color: transparent;
  background: linear-gradient(
    149deg,
    rgb(255, 170, 154) 0%,
    rgb(227, 217, 102) 100%
  );
  -webkit-background-clip: text;
}
